@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #fda702;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-white: #fff;
    --fixed-width: 620px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --radius: 0.5rem;
    --spacing: 0.25rem;
    --transition: all 0.3s linear;

}

.title {
    margin-top: 15vh;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 1.7rem;
    font-weight: 600;
    background: var(--main-color);
    color: var(--clr-white);
    text-align: center;
    text-transform: uppercase;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    width: 50%;
    margin: 0 auto;
}

.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--fixed-width);
}

.question {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.question-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
    font-size: 1.2rem;
    font-weight: 400;
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--transition);
}

.question-btn:hover {
    transform: rotate(90deg);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    margin-bottom: 0;
}

/* hide text*/
.question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }

  /* media querys*/

  @media (max-width: 768px) {
    .title h2 {
        font-size: 1.5rem;
    }
  }

  @media (max-width: 425px) {
    .title h2 {
        font-size: 1.2rem;
    }
    .question-title p {
        font-size: 1rem;
    }
  }
